*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}
body::-webkit-scrollbar{
  display: none;
}

/* navbar */
.navbar1{
  height: 65px;
  width: 100vw;
  position: fixed;
  display: flex;
  background-color: rgb(219, 138, 32);
  top: 0px;
  color:rgb(10, 209, 10);
  padding: 0rem 1rem;
  z-index: 100;
}
.navbar-brand1{
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  font-weight: 900;
  font-style: italic;
}
.navbar-other1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 83%;
}
.nav1{
  margin: 0.25rem 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem;
}
.nav1:hover{
  border: 1px solid white;
  border-radius: 0.25rem;
}

/* .nav-home1{
  margin-left: 1rem;
} */
.nav-address1{
  color: grey;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
}
.nav-address1 i{
  margin-top:1rem;
}
.nav-address1 span{
  margin-left: 0.25rem;
}
.nav1 a{
  text-decoration: none;
  color: white;
}
.nav-input-search1{
  height: 44px;
  width: 500px;
  display: flex;
  border-radius: 0.25rem;
  padding: 0rem;
}
.nav-input-search1:hover{
  border: 2px solid rgba(103, 76, 223, 0.801);
}
.nav-input-search1 input{
  height: 40px;
  width: 450px;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.nav-input-search1 button{
  height: 40px;
 border: none;
 border-top-right-radius: 0.25rem;
 border-bottom-right-radius: 0.25rem;
 background-color: rgba(103,76,223,0.801);
}
.nav-search-icon1{
  height: 30px;
  width: 50px;
  padding-left: 0.75rem;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 1.25rem;
  background-color: rgba(103,76,223,0.801);
}
.nav-cart1{
  padding: 1rem 0.75rem;
}
.nav-cart1 i{
  color: white;
}
.position-item1{
  position: relative;
  top: 65px;
}
.position-flash1{
  position: relative;
  top: 65px;
  z-index: 90;
  width: 100%;
}
.dropdown-menu1 a{
  color: #000000!important;
}

/* lower navbar */
.lower-navbar1{
  position: relative;
  top: 65px;
  height: 40px;
  width: 100%;
  background-color: rgb(35,47,62);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.lower-nav1{
padding: 0.25rem 0.75rem;
}
.lower-nav1 a{
  text-decoration: none;
  color: white;
}
.lower-nav1:hover{
  border: 1px solid white;
  border-radius: 0.25rem;
}

/* sidebar content */
.sidebar-container1{
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(0,0,0,0.7);
  transform: translateX(-100%);
  z-index: 1;
  display: flex;
  transition: transform 0.3s;
}
.sidebar-show1{
  transform: translateX(0%);
}
.sidebar-left1{
  width: 370px;
  height: 100%;
  background-color: #ffffff;
}
.sidebar-top1{
  width: 370px;
  display: flex;
  align-items: center;
  padding: 0.625rem 2.25rem;
  color: #ffffff;
  background-color:#232f3e;
  height: 50px;
  cursor: pointer;
  position: fixed;
}
.sidebar-top1 h2{
  font-size: 1.25rem;
  padding-left: 0.625rem;
}
.sidebar-wrap1{
  height: 100%;
  position: relative;
  top: 50px;
  overflow-y: scroll;
  padding-bottom: 3.125rem;
}
.sidebar-item1{
  border-top: 1px solid #d6d6d6;
}
.sidebar-item1 a{
  text-decoration: none;
}
.sidebar-item1 h2{
  padding: 1rem 1rem 0.5rem;
  font-size: 1.25rem;
  color: #111111;
}
.sidebar-item1 p{
  padding: 0.5rem 1rem;
  font-style: 0.875rem;
  color: #111111;
}
.sidebar-item p:hover1{
  background-color: #cccccc;
  cursor: pointer;
}
#sidebar-close1{
  height: 50px;
  width: 50px;
  font-size: 1.875rem;
  margin-left: 0.625rem;
  margin-top: 0.625rem;
  cursor: pointer;
}

/* furniture */
.upper-filter1{
  border-right: 3px solid rgb(194, 187, 187);
}
.filter1{
  margin: 1rem 0rem;
}
.lower-filter1{
  margin-left: 6rem;
}
.upper-heading1{
  font-size: 1.5rem;
  font-weight: 700;
  margin: auto;
  text-align: center;
}
.heading1{
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.5rem 0rem 1rem;
}

/* user interface */
.user1{
  background-color: white;
}
.above-user1{
  padding: 0.5rem 0rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color:black;
  text-align: center;
}
.above-user1 i{
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 0.25rem;
}
.upper-heading1{
  font-size: 1.5rem;
  font-weight: 600;
  color: grey;
  padding: 0.5rem 0rem;
  text-align: center;
  border-bottom: 2px solid grey;
}
.heading1{
  font-size: 1rem;
  color: black;
  padding: 0.25rem;
  text-align: center;
}