<%-include('../partials/header')%>
<%-include('../partials/navbar')%>


<div class="row" style="margin-top: 80px;">
    <div class="col-6 mx-auto">
      <h1 class="display-6">SignUp Form</h1>
        <form action="/register" method="POST" >
            <div class="mb-3">
                <label for="username" class="form-label">Username: </label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Name of the User" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email: </label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email of the User" required>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender: </label>
                    <input class="form-control" type="text" name="gender" id="gender" placeholder="Gender of the User" required>
            </div>
        
            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control"  name="password" id="password" placeholder="Password of the User" required>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Sign Up</button>
            <p>have an account? <a href="/login">Login Now</a></p>
        </form>
    </div>
</div>


<script src="/js/script.js"></script>
<%-include('../partials/footer')%>