div{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    border: 2px solid black;
    display: inline-block;
    background-color: aqua;
}
h1{
    display: none;
}
h2{
    /* visibility: hidden; */
    display: none;
}